@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  background: linear-gradient(to bottom right, #3a7bd5, #00d2ff);
  height: 100vh;
  overflow: hidden; /* Impede o aparecimento de scrollbars */
}

main {
  height: 100%;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  padding-bottom: 100px;
}

section {
  background-color: #f0f8ff;
  padding: 20px;
  width: 300px;
  height: 460px; /* Ajusta a altura automaticamente de acordo com o conteúdo */
  border-radius: 10px; /* Opcional: arredonda os cantos do formulário */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.521); /* Opcional: adiciona uma sombra ao redor do formulário */
}

#msg-hora {
  color: white;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 > i#icone-hora {
  font-size: 24px;
  vertical-align: middle;
  color: #ffa500;
  padding-left: 5px;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2.5em;
  font: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

#hora {
  display: flex;
  align-items: center;
}

#icone-hora {
  margin-right: 10px;
  font-size: 1.5em;
}

input {
  width: 100%;
  max-width: 260px;
  padding: 10px 10px 10px 40px; /* Adiciona padding à esquerda para acomodar o ícone */
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  outline: 0/*  */;
}

input:hover {
  background-color: #00d2ff;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-weight: bolder;
  font-size: 0.7em;
  padding: 1px;
}

strong {
  padding-left: 9px;
  padding-bottom: 6px;
}

p.botaop {
  text-align: center;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

.botao {
  border-radius: 3px;
  background-color: #3a7bd5;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px;
}

.botao:hover {
  background-color: #2ecc71;
}

.formulario,
.formFilho {
  text-align: center;
  position: relative; /* Necessário para que o ícone seja posicionado relativamente ao seu contêiner */
}

.formFilho i {
  position: absolute;
  top: 50%;
  left: 10px; /* Posição do ícone à esquerda */
  transform: translateY(-50%);
  color: #000000;
}

.formFilho input[type="password"] {
  width: 100%;
  max-width: 260px;
  padding: 10px 40px 10px 40px; /* Ajusta o padding para criar espaço à direita para o ícone */
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

i#verSenha, i#vercSenha {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 220px;
  cursor: pointer;
}

#contaCriada {
  color: green;
}